In [1]:
import numpy as np
from pydataset import data
from pandas import get_dummies
from sklearn.model_selection import train_test_split

In [2]:
iris = get_dummies(data("iris"))
iris.head()

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica
1,5.1,3.5,1.4,0.2,1,0,0
2,4.9,3.0,1.4,0.2,1,0,0
3,4.7,3.2,1.3,0.2,1,0,0
4,4.6,3.1,1.5,0.2,1,0,0
5,5.0,3.6,1.4,0.2,1,0,0

In [3]:
iris.shape

(150, 7)

In [4]:
X, y = iris.iloc[:,:4].values, iris.iloc[:,4:].values
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.2)
X_train = X_train.T
y_train = y_train.T
X_test = X_test.T
y_test = y_test.T

In [10]:
# Matrix of size nfeaturesXnclasses to hold the parameters
# of each class
nfeatures = X_train.shape[0]
nclasses = y_train.shape[0]
theta = np.zeros((nfeatures, nclasses))

In [14]:
X_train.shape

(4, 120)

In [8]:
y_train.shape

(3, 120)

In [9]:
theta.shape

(4, 3)

In [36]:
# Matrix of size nfeatures X nexamples containing the
# numerator of sigmoid-softmax function
Svals = np.exp(theta.T @ X_train)
# Column vector with cnexamples elements containing the normalization
# factor for the sigmoid-softmax activation function
onesvect = np.ones((1, nclasses))
Svalstot = onesvect @ Svals
Svalstot.shape

(1, 120)

In [41]:
X_train.shape

(4, 120)

In [37]:
# The probability for each example to belong to a class 'k'.
# Each row corresponds to a class and each column to a given
# training example
sigsoftk = Svals / Svalstot

In [46]:
sigsoftk.shape

(3, 120)

In [70]:
-(y_train * np.log(sigsoftk)).sum() / X_train.shape[1]

1.0986122886681098

In [72]:
y_train.shape

(3, 120)

In [77]:
X_train.shape

(4, 120)

In [95]:
- (y_train * (1 - sigsoftk))[0,0] * X_train[:,0]

array([-3.33333333, -2.26666667, -1.        , -0.13333333])

### Grad Test

In [176]:
for k in range(y_train.shape[0]):
    grad = ((sigsoftk - y_train)[k,:] * X_train).sum(axis=1) / X_train.shape[1]
    print(f"Grad for class {k}: {grad}")

Grad for class 0: [ 0.31222222 -0.09805556  0.77111111  0.31555556]
Grad for class 1: [-0.21611111  0.00611111 -0.30555556 -0.08527778]
Grad for class 2: [-0.09611111  0.09194444 -0.46555556 -0.23027778]

In [179]:
epsilon = 1e-10
onesvect = np.ones((1, nclasses))

for k in range(y_train.shape[0]):
    theta_plus = np.copy(theta)
    theta_plus[:,k] = theta_plus[:,k] + epsilon
    theta_minus = np.copy(theta)
    theta_minus[:,k] = theta_minus[:,k] - epsilon

    Svals_plus = np.exp(theta_plus.T @ X_train)
    sigsoftk_plus = Svals_plus / (onesvect @ Svals_plus)

    Svals_minus = np.exp(theta_minus.T @ X_train)
    sigsoftk_minus = Svals_minus / (onesvect @ Svals_minus)
    
    cost_plus = -(y_train * np.log(sigsoftk_plus)).sum(axis=1) / X_train.shape[1]
    cost_minus = -(y_train * np.log(sigsoftk_minus)).sum(axis=1) / X_train.shape[1]

    grad = (cost_plus - cost_minus) / (2 * epsilon)
    print(f"Numerical grad for class {k}: {grad}")

Numerical grad for class 0: [-2.20888863  1.73833364  1.77138887]
Numerical grad for class 1: [ 1.10444487 -3.47666618  1.77138887]
Numerical grad for class 2: [ 1.10444487  1.73833364 -3.54277746]

In [186]:
alpha = 0.1
for i in range(100):
    grads = np.zeros_like(theta)
    for k in range(y_train.shape[0]):
        grad = ((sigsoftk - y_train)[k,:] * X_train).sum(axis=1) / X_train.shape[1]
        grads[:,k] = grad
    
    theta = theta - alpha * grads
    Svals = np.exp(theta.T @ X_train)
    Svalstot = onesvect @ Svals
    sigsoftk = Svals / Svalstot
    print(f"Cost at iteration {i}: {-(y_train * np.log(sigsoftk)).sum() / X_train.shape[1]}")

Cost at iteration 0: 0.7071795173842598
Cost at iteration 1: 0.6904500363239826
Cost at iteration 2: 0.6752485443221061
Cost at iteration 3: 0.6613736049416623
Cost at iteration 4: 0.648655121082047
Cost at iteration 5: 0.6369489451929752
Cost at iteration 6: 0.6261327153049528
Cost at iteration 7: 0.6161019880998508
Cost at iteration 8: 0.6067675660031928
Cost at iteration 9: 0.5980526807906635
Cost at iteration 10: 0.5898914875394001
Cost at iteration 11: 0.5822269088306579
Cost at iteration 12: 0.5750102142254339
Cost at iteration 13: 0.568199359748727
Cost at iteration 14: 0.5617601546213253
Cost at iteration 15: 0.5556655733889159
Cost at iteration 16: 0.5499010299914993
Cost at iteration 17: 0.5444672008947435
Cost at iteration 18: 0.5394007277383752
Cost at iteration 19: 0.5347874148170592
Cost at iteration 20: 0.5308532417335939
Cost at iteration 21: 0.5279749764032333
Cost at iteration 22: 0.5271275381233116
Cost at iteration 23: 0.5294553888790171
Cost at iteration 24: 0.538564855954395
Cost at iteration 25: 0.5548630905982823
Cost at iteration 26: 0.5876053773727816
Cost at iteration 27: 0.6162979526016957
Cost at iteration 28: 0.663922387922824
Cost at iteration 29: 0.6618045281599761
Cost at iteration 30: 0.6960248779327346
Cost at iteration 31: 0.6645008604694737
Cost at iteration 32: 0.6924982712008205
Cost at iteration 33: 0.6568137520062486
Cost at iteration 34: 0.6843357272930279
Cost at iteration 35: 0.6491072227155578
Cost at iteration 36: 0.6768575444775017
Cost at iteration 37: 0.6419454260051812
Cost at iteration 38: 0.6698496323243606
Cost at iteration 39: 0.6350782091466319
Cost at iteration 40: 0.6630468584635987
Cost at iteration 41: 0.6283986384022294
Cost at iteration 42: 0.6563682768047895
Cost at iteration 43: 0.6218711493875188
Cost at iteration 44: 0.6497897334866907
Cost at iteration 45: 0.6154778350253746
Cost at iteration 46: 0.6432987217198487
Cost at iteration 47: 0.6092049368377769
Cost at iteration 48: 0.6368852576558096
Cost at iteration 49: 0.6030404822227616
Cost at iteration 50: 0.6305405829944185
Cost at iteration 51: 0.5969738873575233
Cost at iteration 52: 0.6242569838438582
Cost at iteration 53: 0.5909957884228699
Cost at iteration 54: 0.618027685887902
Cost at iteration 55: 0.5850978913717758
Cost at iteration 56: 0.6118467448684117
Cost at iteration 57: 0.579272835535231
Cost at iteration 58: 0.6057089444961483
Cost at iteration 59: 0.5735140751860778
Cost at iteration 60: 0.5996097074236157
Cost at iteration 61: 0.5678157783924328
Cost at iteration 62: 0.5935450191091702
Cost at iteration 63: 0.5621727408350737
Cost at iteration 64: 0.5875113628716037
Cost at iteration 65: 0.5565803122134216
Cost at iteration 66: 0.5815056643727422
Cost at iteration 67: 0.5510343332030548
Cost at iteration 68: 0.5755252440164785
Cost at iteration 69: 0.5455310812848523
Cost at iteration 70: 0.5695677760166723
Cost at iteration 71: 0.5400672240680512
Cost at iteration 72: 0.563631253109145
Cost at iteration 73: 0.5346397789743775
Cost at iteration 74: 0.5577139560637543
Cost at iteration 75: 0.5292460783479215
Cost at iteration 76: 0.5518144272988382
Cost at iteration 77: 0.5238837392152906
Cost at iteration 78: 0.5459314480192449
Cost at iteration 79: 0.5185506370507199
Cost at iteration 80: 0.5400640183964226
Cost at iteration 81: 0.5132448830072708
Cost at iteration 82: 0.534211340389012
Cost at iteration 83: 0.5079648041628945
Cost at iteration 84: 0.5283728028685423
Cost at iteration 85: 0.5027089264026462
Cost at iteration 86: 0.5225479687698781
Cost at iteration 87: 0.4974759596187492
Cost at iteration 88: 0.5167365640321995
Cost at iteration 89: 0.4922647849608316
Cost at iteration 90: 0.5109384681351875
Cost at iteration 91: 0.48707444391144417
Cost at iteration 92: 0.5051537060682055
Cost at iteration 93: 0.4819041289983914
Cost at iteration 94: 0.49938244159865364
Cost at iteration 95: 0.4767531759867208
Cost at iteration 96: 0.49362497173031117
Cost at iteration 97: 0.47162105742046784
Cost at iteration 98: 0.48788172226409965
Cost at iteration 99: 0.4665073774081965

In [174]:
theta

array([[ 0.,  0.,  0.],
       [ 0.,  0.,  0.],
       [ 0.,  0.,  0.],
       [ 0.,  0.,  0.]])