In [158]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

pd.options.display.float_format = lambda x: f"{x:0,.2f}"
plt.rcParams["figure.figsize"] = (14, 7)

# Credit Default Analysis

* **ID**: ID of each client
* **LIMIT_BAL**: Amount of given credit in NT dollars (includes individual and family/supplementary credit
* **SEX**: Gender (1=male, 2=female)
* **EDUCATION**: (1=graduate school, 2=university, 3=high school, 4=others, 5=unknown, 6=unknown)
* **MARRIAGE**: Marital status (1=married, 2=single, 3=others)
* **AGE**: Age in years
* **PAY_1**: Repayment status in September, 2005 (-1=pay duly, 1=payment delay for one month, 2=payment delay for two months, ... 8=payment delay for eight months, 9=payment delay for nine months and above)
* **PAY_2**: Repayment status in August, 2005 (scale same as above)
* **PAY_3**: Repayment status in July, 2005 (scale same as above)
* **PAY_4**: Repayment status in June, 2005 (scale same as above)
* **PAY_5**: Repayment status in May, 2005 (scale same as above)
* **PAY_6**: Repayment status in April, 2005 (scale same as above)
* **BILL_AMT1**: Amount of bill statement in September, 2005 (NT dollar)
* **BILL_AMT2**: Amount of bill statement in August, 2005 (NT dollar)
* **BILL_AMT3**: Amount of bill statement in July, 2005 (NT dollar)
* **BILL_AMT4**: Amount of bill statement in June, 2005 (NT dollar)
* **BILL_AMT5**: Amount of bill statement in May, 2005 (NT dollar)
* **BILL_AMT6**: Amount of bill statement in April, 2005 (NT dollar)
* **PAY_AMT1**: Amount of previous payment in September, 2005 (NT dollar)
* **PAY_AMT2**: Amount of previous payment in August, 2005 (NT dollar)
* **PAY_AMT3**: Amount of previous payment in July, 2005 (NT dollar)
* **PAY_AMT4**: Amount of previous payment in June, 2005 (NT dollar)
* **PAY_AMT5**: Amount of previous payment in May, 2005 (NT dollar)
* **PAY_AMT6**: Amount of previous payment in April, 2005 (NT dollar)
* **default.payment.next.month**: Default payment (1=yes, 0=no)

In [148]:
credit = pd.read_csv("./UCI_Credit_Card.csv", index_col=0)
credit.rename(columns={"default.payment.next.month": "default",
                       "PAY_0": "PAY_1"}, inplace=True)
credit = pd.get_dummies(credit, columns=["SEX", "EDUCATION", "MARRIAGE"])

We split the data into train and test; set 20% of the observations to be into the test set

In [149]:
credit_train, credit_test = train_test_split(credit, test_size=0.2, random_state=1643)
credit_train.shape

(24000, 34)

In [150]:
credit_train.describe().T

,count,mean,std,min,25%,50%,75%,max
LIMIT_BAL,"24,000.00","168,171.24","129,705.96","10,000.00","50,000.00","140,000.00","240,000.00","800,000.00"
AGE,"24,000.00",35.49,9.20,21.00,28.00,34.00,41.00,75.00
PAY_1,"24,000.00",-0.02,1.12,-2.00,-1.00,0.00,0.00,8.00
PAY_2,"24,000.00",-0.14,1.19,-2.00,-1.00,0.00,0.00,7.00
PAY_3,"24,000.00",-0.17,1.20,-2.00,-1.00,0.00,0.00,8.00
PAY_4,"24,000.00",-0.22,1.17,-2.00,-1.00,0.00,0.00,8.00
PAY_5,"24,000.00",-0.27,1.14,-2.00,-1.00,0.00,0.00,8.00
PAY_6,"24,000.00",-0.29,1.15,-2.00,-1.00,0.00,0.00,8.00
BILL_AMT1,"24,000.00","51,424.47","73,518.14","-165,580.00","3,605.75","22,598.00","67,723.75","746,814.00"
BILL_AMT2,"24,000.00","49,372.12","70,960.84","-67,526.00","2,999.75","21,419.00","64,677.00","743,970.00"
BILL_AMT3,"24,000.00","47,320.24","69,712.57","-157,264.00","2,729.25","20,290.50","60,950.50","1,664,089.00"
BILL_AMT4,"24,000.00","43,451.44","64,351.93","-170,000.00","2,333.75","19,095.00","55,320.00","706,864.00"
BILL_AMT5,"24,000.00","40,450.14","60,878.03","-81,334.00","1,758.50","18,134.00","50,562.50","823,540.00"
BILL_AMT6,"24,000.00","38,958.27","59,520.57","-339,603.00","1,221.00","17,111.50","49,488.50","568,638.00"
PAY_AMT1,"24,000.00","5,637.38","16,586.03",0.00,"1,000.00","2,106.00","5,006.00","873,552.00"
PAY_AMT2,"24,000.00","5,951.69","23,007.42",0.00,890.00,"2,021.50","5,000.00","1,684,259.00"
PAY_AMT3,"24,000.00","5,152.11","16,414.18",0.00,390.00,"1,815.50","4,512.00","889,043.00"
PAY_AMT4,"24,000.00","4,876.44","16,266.61",0.00,292.00,"1,500.00","4,000.00","621,000.00"
PAY_AMT5,"24,000.00","4,806.91","15,468.25",0.00,241.00,"1,500.00","4,012.00","426,529.00"
PAY_AMT6,"24,000.00","5,272.25","18,166.11",0.00,118.00,"1,500.00","4,000.00","528,666.00"
default,"24,000.00",0.22,0.42,0.00,0.00,0.00,0.00,1.00
SEX_1,"24,000.00",0.40,0.49,0.00,0.00,0.00,1.00,1.00
SEX_2,"24,000.00",0.60,0.49,0.00,0.00,1.00,1.00,1.00
EDUCATION_0,"24,000.00",0.00,0.02,0.00,0.00,0.00,0.00,1.00
EDUCATION_1,"24,000.00",0.35,0.48,0.00,0.00,0.00,1.00,1.00
EDUCATION_2,"24,000.00",0.47,0.50,0.00,0.00,0.00,1.00,1.00
EDUCATION_3,"24,000.00",0.16,0.37,0.00,0.00,0.00,0.00,1.00
EDUCATION_4,"24,000.00",0.00,0.06,0.00,0.00,0.00,0.00,1.00
EDUCATION_5,"24,000.00",0.01,0.10,0.00,0.00,0.00,0.00,1.00
EDUCATION_6,"24,000.00",0.00,0.04,0.00,0.00,0.00,0.00,1.00
MARRIAGE_0,"24,000.00",0.00,0.04,0.00,0.00,0.00,0.00,1.00
MARRIAGE_1,"24,000.00",0.45,0.50,0.00,0.00,0.00,1.00,1.00
MARRIAGE_2,"24,000.00",0.53,0.50,0.00,0.00,1.00,1.00,1.00
MARRIAGE_3,"24,000.00",0.01,0.10,0.00,0.00,0.00,0.00,1.00

**Initial Observations:**  
* 60% of observations come from women; 40% men.
* 53% of all credit card holders are married
* 47% attended a university, 35% graduate schools, 16% high school

In [220]:
pd.DataFrame([credit_train[f"PAY_{v}"].value_counts() for v in range(1, 7)])[[-1, *range(1, 9)]]

            -1        1        2      3     4     5     6     7     8
PAY_1 4,505.00 2,949.00 2,127.00 262.00 60.00 19.00  8.00  7.00 16.00
PAY_2 4,811.00    21.00 3,127.00 262.00 74.00 20.00  9.00 17.00   nan
PAY_3 4,717.00     3.00 3,031.00 189.00 63.00 18.00 20.00 20.00  3.00
PAY_4 4,541.00     1.00 2,520.00 139.00 58.00 31.00  3.00 49.00  1.00
PAY_5 4,407.00      nan 2,084.00 144.00 72.00 13.00  4.00 47.00  1.00
PAY_6 4,578.00      nan 2,205.00 150.00 40.00 12.00 15.00 39.00  1.00

In [226]:
import tensorflow as tf
from tensorflow.contrib.layers import fully_connected
from sklearn.preprocessing import Normalizer

In [193]:
def fetch_batches(X, y, n_batches, set_seed=None):
    """
    Retrieve the i-th batch from a random shuffled
    training dataset. Each epoch the training
    dataset gets reshuffled.
    """
    np.random.seed(set_seed)
    batches = np.c_[X, y]
    np.random.shuffle(batches)
    batches = np.array_split(batches, n_batches)
    for batch in batches:
        yield batch[:, :-1], batch[:, -1]

### Construction Phase

In [296]:
norm = Normalizer()
X_train = credit_train.drop("default", axis=1).values
X_train = norm.fit_transform(X_train)

y_train = credit_train["default"].values

In [334]:
tf.reset_default_graph()
nh1 = 200
nh2 = 100
nh3 = 50
nout = 2

X = tf.placeholder(tf.float32, shape=(None, 33))
y = tf.placeholder(tf.int64, shape=(None))

with tf.name_scope("Layers"):
    layer1 = fully_connected(X, nh1, scope="hidden_layer1")
    layer2 = fully_connected(layer1, nh2, scope="hidden_layer2")
    layer3 = fully_connected(layer2, nh3, scope="hidden_layer3")
    output = fully_connected(layer3, nout, activation_fn=None)

with tf.name_scope("loss"):
    xentropy = tf.nn.sparse_softmax_cross_entropy_with_logits(labels=y,
                                                              logits=output)
    loss = tf.reduce_mean(xentropy, name="loss")

learning_rate = 0.0001
with tf.name_scope("train"):
    optimizer = tf.train.AdamOptimizer(learning_rate)
    train_step = optimizer.minimize(loss)
    
with tf.name_scope("eval"):
    correct = tf.nn.in_top_k(output, y, 1)
    accuracy = tf.reduce_mean(tf.cast(correct, tf.float32))

init = tf.global_variables_initializer()
saver = tf.train.Saver()

### Execution Phase

In [358]:
nepochs = 50
batch_size = 50

with tf.Session() as sess:
    sess.run(init)
    for epoch in range(1, nepochs + 1):
        """
        for X_batch, y_batch in fetch_batches(X_train, y_train, batch_size):
            sess.run(train_step, feed_dict={X:X_batch, y:y_batch})
        """
        sess.run(train_step, feed_dict={X:X_train, y:y_train})
        train_acc = sess.run(accuracy, feed_dict={X:X_train, y:y_train})
        end = "\n" if epoch %20 == 0 else "\r"
        print(f"@Epoch {epoch}, accuracy: {train_acc:0.2%}", end=end)
    save_path = saver.save(sess, ".tmp/credit_model.ckpt")
    vals = sess.run(output, feed_dict={X:X_train, y:y_train})

@Epoch 20, accuracy: 77.84%
@Epoch 40, accuracy: 77.84%

In [359]:
np.mean(np.argmax(vals, axis=1) == y_train)

0.77841666666666665

In [360]:
from sklearn.linear_model import LogisticRegression
lreg = LogisticRegression()
lreg.fit(X_train, y_train)
lreg.score(X_train, y_train)

0.77829166666666671

## Evaluating a Model

In [381]:
X_test = norm.transform(credit_test.drop("default", axis=1).values)
y_test = credit_test.default.values

lreg_yhat = lreg.predict(X_test)
lreg.score(X_test, y_test)

0.78016666666666667

In [382]:
X_test

array([[  9.11240073e-01,   7.89741397e-04,  -6.07493382e-05, ...,
          3.03746691e-05,   0.00000000e+00,   0.00000000e+00],
       [  6.26542732e-01,   5.51357604e-04,   0.00000000e+00, ...,
          1.25308546e-05,   0.00000000e+00,   0.00000000e+00],
       [  9.85441568e-01,   1.80664288e-04,  -4.10600654e-06, ...,
          4.10600654e-06,   0.00000000e+00,   0.00000000e+00],
       ...,
       [  4.18610082e-01,   8.37220164e-05,   0.00000000e+00, ...,
          0.00000000e+00,   2.32561157e-06,   0.00000000e+00],
       [  9.79385985e-01,   9.37412300e-04,   1.39912284e-05, ...,
          1.39912284e-05,   0.00000000e+00,   0.00000000e+00],
       [  9.90247323e-01,   3.09452288e-04,  -1.23780915e-05, ...,
          0.00000000e+00,   1.23780915e-05,   0.00000000e+00]])

In [368]:
with tf.Session() as sess:
    saver.restore(sess, save_path)
    test_acc = sess.run(accuracy, feed_dict={X:X_test, y:y_test})
    nn_logits = sess.run(output, feed_dict={X:X_test, y:y_test})
    nn_yhat = np.argmax(nn_logits, axis=1)
print(test_acc)

INFO:tensorflow:Restoring parameters from .tmp/credit_model.ckpt
0.780333

In [370]:
nn_logits

array([[ 0.19291919, -0.1728971 ],
       [ 0.17752418, -0.15250786],
       [ 0.19145267, -0.19433053],
       ...,
       [ 0.16478929, -0.17826571],
       [ 0.20565552, -0.18298566],
       [ 0.20151311, -0.1928167 ]], dtype=float32)

In [366]:
print(nn_yhat[:1000])

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0]

In [371]:
from sklearn.metrics import precision_score, recall_score, accuracy_score
nn_precision = precision_score(y_test, nn_yhat)
nn_recall = recall_score(y_test, nn_yhat)
nn_accuracy = accuracy_score(y_test, nn_yhat)

lreg_precision = precision_score(y_test, lreg_yhat)
lreg_recall = recall_score(y_test, lreg_yhat)

print(nn_precision)

0.0

/Users/gerardoduran/anaconda/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)